
/*=============================================
=            map            =
=============================================*/

.google-map {
    display: inline-block;
    overflow: hidden;
    width: 100%;

    iframe {
        width: 100%;
        height: 500px;
        position: relative;
        // top: -50px;
        border: none;

    @include respond(large-mobile) {
        height: 300px;
    }
  }
}

.group-map-container {
  display: flex;
  justify-content: space-between;

@include respond(extra-large-mobile) {
    flex-direction: column;
  }

@include respond(large-mobile) {
    flex-direction: column;
  }

  .single-map {
    flex-basis: 32%;

@include respond(extra-large-mobile) {
      flex-basis: 100%;
    }

@include respond(large-mobile) {
      flex-basis: 100%;
    }
  }
}
.flex-center {
  display: flex;
  justify-content: center;
}


/*=====  End of map  ======*/

