.image-upload {
  &:hover {
    cursor: pointer;
  }
}

.admin-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center center;
}

.table-bordered th,
.table-bordered td {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
